<div id="<%= dom_id(comment) %>" data-empty-state-target="item">
  <div class="bg-white px-4 py-5 sm:px-6 sm:rounded-lg sm:shadow my-4">
    <div class="flex justify-between text-sm mb-4">
      <p class="font-medium text-gray-900 flex items-center">
        <% if comment.user&.admin? %>
          <abbr title="<%= t('comments.moderator') %>" class="mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
            </svg>
          </abbr>
        <% end %>
        <span><%= comment.user&.username || comment.username %></a>
      </p>
      <p class="text-gray-500">
        <time datetime="<%= comment.created_at.iso8601 %>">
          <%= time_ago_in_words(comment.created_at) %> <%= t('common.ago') %>
        </time>
      </p>
    </div>
    <div class="text-gray-500 whitespace-pre-line"><%= comment.message.strip %></div>
  </div>
</div>
