<div id="<%= dom_id(comment) %>" data-empty-state-target="item">
  <div class="bg-white px-4 py-5 sm:px-6 sm:rounded-lg sm:shadow my-4">
    <div class="flex justify-between text-sm mb-4">
      <p class="font-medium text-gray-900">
        <span><%= comment.username %></a>
      </p>
      <p class="text-gray-500">
        <time datetime="<%= comment.created_at.iso8601 %>">
          <%= time_ago_in_words(comment.created_at) %> <%= t('common.ago') %>
        </time>
      </p>
    </div>
    <div class="text-gray-500 whitespace-pre-line"><%= comment.message.strip %></div>
  </div>
</div>
