<div id="<%= dom_id request %>">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 pt-5 sm:px-6 flex items-center text-gray-400">
      <a href="/" class="text-gray-400 hover:text-gray-500" target="_top">
        <!-- Heroicon name: solid/home -->
        <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        <span class="sr-only">Home</span>
      </a>

      <!-- Heroicon name: solid/chevron-right -->
      <svg class="flex-shrink-0 h-5 w-5 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>

      <a href="<%= send("#{request.type.pluralize}_requests_path") %>" class="text-sm leading-6 font-medium text-gray-600 hover:text-gray-800" target="_top">
        <%= t("requests.#{request.type}.list") %>
      </a>
    </div>
    <h3 class="px-4 pt-1 pb-5 sm:px-6 text-lg leading-6 font-medium text-gray-800">
      <%= t("requests.#{request.type}.item") %>
    </h3>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-2 gap-y-4 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            <%= Request.human_attribute_name(:address) %>
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <p>
              <%= [request.city, human_district(request.district), human_region(request.region)].join(', ') %>
            </p>
            <% if request.address.present? %>
              <p>
                <%= image_tag "data:image/png;base64,#{image_for_text(request.address)}" %>
              </p>
            <% end %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            <%= Request.human_attribute_name(:contact_name) %>
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= request.contact_name.presence || "—" %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            <%= Request.human_attribute_name(:title) %>
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= request.title %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <%= turbo_frame_tag "contacts" do %>
            <dt>
              <%= button_to(
                t('requests.get_contacts'),
                contacts_request_path(request),
                method: :POST,
                class: 'inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50'
              ) %>
            </dt>
          <% end %>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            <%= Request.human_attribute_name(:description) %>
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= request.description %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
