<%= turbo_stream_from(@request) %>
<%= turbo_frame_tag("request") do %>
  <%= render @request %>
<% end %>

<div id="comments" data-controller="empty-state">
  <div data-empty-state-target="emptyState">
    <p class="py-6 text-gray-500"><%= t('comments.no_records') %></p>
  </div>
  <%= render @request.comments %>
</div>

<%= turbo_frame_tag "new_comment", src: new_request_comment_path(@request), target: "_top" %>
