<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= vite_client_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" crossorigin="anonymous"/>

    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container mx-auto px-6 py-4">
      <%= render 'shared/notices' %>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
